# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
env/
venv/
*.egg-info/
pip-wheel-metadata/

# Ignore compiled files/logs
*.log
*.sqlite3

# Ignore OS-specific files
.DS_Store
Thumbs.db


# Optional: GitHub Pages cache or other tools
_site/
.cache/